@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

.bookmarks {
  margin: 1rem 0 0;

  &-card {
    margin: 0 0 1rem;
  }

  &-list {
    list-style: none;
    margin: 0;
    padding: 0;

    &-item {
      align-items: center;
      border-bottom: 1px solid $card-border-color;
      display: flex;
      justify-content: space-between;
      padding: $card-spacer-y $card-spacer-x;
      white-space: nowrap;

      &:last-child {
        border-bottom: 0;
      }

      &.is-editing {
        align-items: flex-start;
      }

      &-url {
        flex: 1 1 auto;
        margin-right: 1rem;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
