<div *ngIf="bookmarks && bookmarks.length" class="bookmarks">
  <form
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    class="bookmarks-card card form"
  >
    <ul class="bookmarks-list">
      <li
        *ngFor="let bookmark of paginatedBookmarks"
        class="bookmarks-list-item"
        [ngClass]="{ 'is-editing': editing === bookmark }"
      >
        <div class="bookmarks-list-item-url">
          <!-- Edit mode -->
          <div *ngIf="editing === bookmark; else displayUrl">
            <input
              class="form-control form-control-sm"
              [ngClass]="{
                'is-invalid': !form.get('url').valid && form.get('url').touched
              }"
              formControlName="url"
              placeholder="http://example.com"
              type="url"
            />
            <div
              *ngIf="!form.get('url').valid && form.get('url').touched"
              class="invalid-feedback"
            >
              <div *ngIf="form.get('url').hasError('required'); else errorUrl">
                URL is required
              </div>
              <ng-template #errorUrl>
                <div *ngIf="form.get('url').hasError('url'); else errorExists">
                  URL is invalid
                </div>
              </ng-template>
              <ng-template #errorExists>
                <div *ngIf="form.get('url').hasError('bookmarkExists')">
                  Bookmark already exists
                </div>
              </ng-template>
            </div>
          </div>

          <!-- Display mode -->
          <ng-template #displayUrl>
            <a [href]="bookmark.url" target="_blank">{{ bookmark.url }}</a>
          </ng-template>
        </div>

        <div class="bookmarks-list-item-actions">
          <!-- Edit mode -->
          <div *ngIf="editing === bookmark; else displayActions">
            <button
              class="btn btn-sm btn-secondary"
              type="button"
              (click)="onCancel()"
            >
              Cancel
            </button>
            <button class="btn btn-sm btn-primary ml-1" type="submit">
              Save
            </button>
          </div>

          <!-- Display mode -->
          <ng-template #displayActions>
            <button
              class="btn btn-sm btn-danger"
              type="button"
              (click)="onRemove(bookmark)"
            >
              Remove
            </button>
            <button
              class="btn btn-sm btn-secondary ml-1"
              type="button"
              (click)="onEdit(bookmark)"
            >
              Edit
            </button>
          </ng-template>
        </div>
      </li>
    </ul>
  </form>

  <ngb-pagination
    *ngIf="bookmarks.length > bookmarksPerPage"
    [collectionSize]="bookmarks.length"
    [pageSize]="bookmarksPerPage"
    [(page)]="page"
  >
  </ngb-pagination>
</div>
