.alert {
  word-break: break-word;
}

.card {
  margin-bottom: 1rem;
}

.form {
  &-row {
    flex-wrap: nowrap;
  }

  &-input {
    flex: 1 1 auto;
    width: auto;
  }

  &-submit {
    flex: 0 0 auto;
    width: auto;
  }
}
