<div class="card">
  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">
      <div class="form-row">
        <div class="col form-input">
          <input
            class="form-control"
            [ngClass]="{
              'is-invalid':
                !form.get('url').valid &&
                (form.get('url').touched || isFormSubmitted)
            }"
            formControlName="url"
            placeholder="http://example.com"
            type="url"
          />

          <div
            *ngIf="
              !form.get('url').valid &&
              (form.get('url').touched || isFormSubmitted)
            "
            class="invalid-feedback"
          >
            <div *ngIf="form.get('url').hasError('required'); else errorUrl">
              URL is required
            </div>
            <ng-template #errorUrl>
              <div *ngIf="form.get('url').hasError('url'); else errorExists">
                URL is invalid
              </div>
            </ng-template>
            <ng-template #errorExists>
              <div *ngIf="form.get('url').hasError('bookmarkExists')">
                Bookmark already exists
              </div>
            </ng-template>
          </div>
        </div>

        <div class="col form-submit">
          <button class="btn btn-primary" type="submit">Add</button>
        </div>
      </div>
    </form>
  </div>
</div>

<ngb-alert
  *ngIf="successMessage"
  type="success"
  [dismissible]="false"
  [innerHTML]="successMessage"
></ngb-alert>
